.box{
    float: left;
    width: 455px;
    margin: 0.5px;
    border-width: 10px 1px;
    border-radius: 100% / 60px;
    border-style: solid;
    border-color: gray;
    background-color: #ccc;
    padding-bottom: 15px;
    padding-top: 15px;
}

.text,
.title,
.content{
    width: 99%;
}

div{
    padding: 5px;
}

.close{
    float: right;
    clear: both;
    margin-top: 5px;
}

header,
footer{
    position: fixed;
    width: 100%;
    background-color: white;
}

header{
    top: 0px;
}

footer{
    bottom: 0px;
}

h6{
    margin: 0px;
}

main{
    margin-top: 25px;
    margin-bottom: 15px;
}

li:last-child{
    margin-bottom: 15px;
}

button{
    cursor: pointer;
    border-radius: 5px;
    border: 1px black solid;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 1);
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    margin-right: 1px;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.5);
}

button:focus{
    outline: none;
}

.menu-button{
    border: none;
    background: none;
    margin-top: -9px;
}

.menu{
    position: relative;
    display: inline-block;
    float: right;
    clear: both;
    padding: 0;
    cursor: pointer;
}

.menu-content{
    display: none;
    position: absolute;
    background-color: #aaa;
    border-radius: 2px;
    z-index: 1;
    right: 0;
    padding: 0;
    min-width: 100px;
}

.menu-content div{
    border-radius: 2px;
}

.menu-content div:hover{
    background-color: #777;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.menu:hover .menu-content{
    display: block;
}

.item{
    border-radius: 5px;
}

.item:nth-child(even){
    background-color: #ddd;
}

.disabled{
    display: none;
}

#dark{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#mid{
    display: table-cell;
    vertical-align: middle;
}

#info{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #fff;
    text-align: center;
    border-width: 10px 1px;
    border-radius: 100% / 80px;
    border-style: solid;
    border-color: black;
    padding-bottom: 20px;
    padding-top: 15px;
}

#info button{
    margin-top: 5px;
}

#ok{
    margin-left: 100px;
}

#cancel{
    margin-right: 100px;
}

#temp,
#nameList,
#saveName{
    width: 99%;
}